<div class="content">
  <div *ngIf="items.length" id="galleryList">
    <div class="row">
      <div class="col-md-2" *ngFor="let item of items">
        <div class="card fruitCard" [ngStyle]="{'background-image':'url(' + item.imageUrl + ')'}">
          <div class="card-body">
            <div class="info">
              <div class="mt-3 m-0 p-0">
                <div class="text-center">
                  <h4 class="title">{{item.name}}</h4>
                  <span class="description"> {{item.scientificName}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>