$darkgray: #495057;
$white: #fff;

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainDiv {
  overflow: hidden;
}

.toolbar {
  height: 60px;
  overflow: hidden;
  // margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;

  img {
    margin: 0 16px;
  }

  .spacer {
    flex: 1;
  }

  a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
  }
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 32px;
  flex-direction: column;
}


#loader {
  color: #008cff;
  font-family: 'Helvetica Neue', 'calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.control_wrapper {
  width: 100%;
  text-align: center;
}

.e-upload {
  width: 100%;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.e-upload-actions {
  display: none;
}

.e-btn {
  text-transform: none !important;
  border-radius: 3px !important;
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  line-height: 1.5 !important;
}

#galleryList {
  .card {
    margin-bottom: 30px;
  }

  .fruitCard {
    border: none;
    min-height: 220px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px !important;
    overflow: hidden;
    transition: all .3s ease;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top, rgba(0, 94, 184, 0) 0%, rgba(0, 49, 113, 0.75) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 94, 184, 0) 0%, rgba(0, 49, 113, 0.75) 100%);
      background: linear-gradient(to bottom, rgba(0, 94, 184, 0) 0%, rgba(0, 49, 113, 0.75) 100%);
    }

    &:hover {
      ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.2);
      .info {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: auto;
    color: $white;

    .info {
      opacity: 0;
      visibility: hidden;
    }

    .title {
      margin: 0 !important;
    }

    .description {
      font-style: italic;
      font-size: 10px;
      margin: 0;
      text-shadow: 4px 4px 4px $darkgray;
    }
  }
}
